.page {
    background-color: rgb(26, 26, 27);
}


.action-bar {
    background-color: rgb(26, 26, 27);
    color: white;
}

.brand-container {
    flex-direction: column;
    justify-content: center;
}

.brand-title {
    text-align: center;
    font-size: 50;
    color: #00c646;
}

.footnote {
    text-align: center;
    color: gray;
    font-size: 20;
}